
.content {
    height: 100vh;
}

.weather-widget {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.card {
    min-width: 300px;
    margin: 5px;
    flex-basis: 0;
    flex-grow: 1;
}

.icon {
    max-width: 40px;
}