/* .navbar {
    background-color: rgb(193, 223, 193);
    
} */

/* .navlinks {
    display: flex;

}
 */

.content {
    height: 100vh;
}

h3 {
    color:blueviolet;
}

.weather-widget {
    display: flex;
    align-items: center;
    justify-content: center;
}